/* BODY: container in column */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/* MAIN: container in row */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* ARTICLE: takes 2/3 width */
article {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

/* ASIDE: takes 1/3 width */
aside {
  flex: 1;
  background: #f2f2f2;
  padding: 20px;
  overflow-y: auto;
}

/* HEADER + FOOTER styles */
header, footer {
  background: #ddd;
  padding: 20px;
}

